DB_HOST=postgres
DB_PORT=5432
DB_NAME=as_db
DB_USER=postgres
DB_PASSWORD=change-me
AS_PORT=7218
PROJECTS_PORT=7220
NEXT_PUBLIC_API_URL=http://localhost/api
NEXT_PUBLIC_PROJECTS_API_URL=http://localhost/projects-api
DB_CONNECTION_INTERNAL=Host=postgres;Port=5432;Database=as_db;Username=postgres;Password=change-me
JWT__ISSUER=AuthService
JWT__AUDIENCE=AuthService.ApiClients
JWT__ACCESSTOKENEXPIREMINUTES=15
JWT__SIGNINGKEY=replace-with-at-least-32-bytes-secret
AuthService__BaseAddress=http://as.backend:7218
BootstrapAdmin__Email=admin@example.com
BootstrapAdmin__Password=change-me
